
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=redcat
DB_PASSWORD=redcat123
DB_NAME=red_cat_test_task

JWT_ACCESS_SECRET=your-super-secret-access-key-change-in-production
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-in-production
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

NODE_ENV=development

PORT=7000
